body {
    color: #333;
    font-size: 100%;
    font-family: 'Monda', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 2.5em;
}
a:link, a:hover, a:visited {
    color: #252f4d;
}
div{
    /*background-color: white;*/
}
#nav {
    position: fixed;
    top: 40px;
    bottom:0;
    overflow-y: auto;
    width: 200px;
}
.menu1-container, .menu2-container{
    padding: 4px 12px;
    background-color: rgba(250,250,250,0.92);
    text-transform: capitalize;
    -webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.1);
    -moz-box-shadow:0 3px 3px 0 rgba(0,0,0,0.1);
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.1);
}
.menu1-container{
    border-bottom: silver 1px solid;
}
.menu2-search{
    background: url('http://icons.iconarchive.com/icons/gakuseisean/radium-neue/128/Search-icon.png') no-repeat scroll 4px;
    background-size: 15px 15px;
    padding: 6px;
    padding-left:20px;
    border: 2px solid #CCC;
    border-radius: 6px;
    width: 80%;
}
#list {
    position: absolute;
    left: 200px;
    bottom: 0;
    top: 40px;
    right: 0;
    overflow-y: auto;
}
#list li {
    cursor: default;
    border-radius: 2px;
    height: 200px;
    width: 200px;
    float: left;
    overflow: hidden;
    display: inline-block;
    margin: 1%;
    margin-right: 18px;
    border-left: 4px solid #CCC;
    padding: 2px 6px;
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.2); /* Saf3.0+, Chrome */
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.2); /* FF3.5+ */
    box-shadow:0 0 10px 0 rgba(0,0,0,0.1); /* Opera 10.5, IE 9.0 */
    -webkit-transition:all .28s ease-out;
}
#list li:hover {
    -webkit-box-shadow:0 0 6px 0 rgba(0,0,0,0.45); /* Saf3.0+, Chrome */
    -moz-box-shadow:0 0 6px 0 rgba(0,0,0,0.45); /* FF3.5+ */
    box-shadow:0 0 6px 0 rgba(0,0,0,0.45); /* Opera 10.5, IE 9.0 */
}
li {
    list-style: none;
}
li a:link {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
li a:visited {
    color: #999;
}
.menu3-container li a:visited {
    color: #888;
}
li a:hover {
    opacity: 1;
    text-decoration: underline;
}
.value {
    font-weight: 400;
}
.author {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.2em;
    padding: 0 .2em;
}
.thumbnail {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 6px;
}
.info, .about-box{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 242, 244, 1.00)), to(rgba(217, 216, 218, 0.75)));
    background-image: -webkit-linear-gradient(top, rgba(243, 242, 244, 1.00), rgba(217, 216, 218, 0.75));
    background-image: -moz-linear-gradient(top, rgba(243, 242, 244, 1.00), rgba(217, 216, 218, 0.75));
    background-image: -o-linear-gradient(top, rgba(243, 242, 244, 1.00), rgba(217, 216, 218, 0.75));
    background-image: -ms-linear-gradient(top, rgba(243, 242, 244, 1.00), rgba(217, 216, 218, 0.75));
    background-image: linear-gradient(top, rgba(243, 242, 244, 1.00), rgba(217, 216, 218, 0.75));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f2f4', EndColorStr='#d9d8da');
}   
.info{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    padding-left: 1%;
    z-index: 101;
}
.about-box{
    border: 1px solid silver;
    border-radius: 2px;
    word-wrap: break-word;
    position: absolute;
    left: 10%;
    width: 45%;
    max-width: 500px;
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 20px;
    display: none;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 18px 0px rgba(5,5,5,0.7); /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
            box-shadow: 0px 5px 18px 0px rgba(5,5,5,0.7); /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}
.about-box a:visited {
    opacity: 0.6;
}
.about-content{
    padding-top: 20px;
    background-color: none;
}
.about-close {
    display: block;
    position: absolute;
    right: 18px;
    border-radius: 4px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    text-align: center;
    background-color: #CCC;
}